body{
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(images/MetroidDread.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    color: #57FA00;
    font-family: sans-serif;
    
}

#container{
    width: 1000px;
    border: 1px solid #57FA00;
    background-color: rgba(0, 0, 0, .3);
}
header{
    width: 100%;
    height: 100px;
}
nav{
    width: 100%;
    height: 50px;
}
article{
    width: 100%;
    border: 1px solid #57FA00;
}
footer{
    width: 100%;
    height: 100px;
    text-align: center;
}

.game-info{
    width: 450px;
    float: right;
    margin-right: 10px;
}
.article-image{
    border-right: 2px solid #57FA00;
    margin-left: 10px;
}
#title-header{
    width: 500px;
    float: left;
    margin-left: 10px;
}
#contact-info{
    width: 200px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
.contact{
    list-style-type: none;
}
.nav-btn{
    margin: auto;
    width: 405px;
    height: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.btn{
    float: left;
    width: 135px;
    height: 50px;
    background-color: #F00801;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}
.btn:hover {
	background-color: #710c04;
	color: white;
}